@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	@font-face {
		font-family: "mavis";
		src: url("../fonts/MAVIS.otf");
	}
	@font-face {
		font-family: "MAVISBold";
		src: url("../fonts/MAVISBold.ttf");
	}
	@font-face {
		font-family: "MAVISLight";
		src: url("../fonts/MAVISLight.ttf");
	}
	@font-face {
		font-family: "AktivBold";
		src: url("../fonts/AktivGroteskCorp-Bold.ttf");
	}
	@font-face {
		font-family: "AktivLight";
		src: url("../fonts/AktivGroteskCorp-Light.ttf");
	}
	@font-face {
		font-family: "AktivRegular";
		src: url("../fonts/AktivGroteskCorp-Regular.ttf");
	}
}
@layer utilities {
	.storyLine {
		width: 3.5rem;
		height: 3.5rem;
		padding: 2px;

		background: radial-gradient(
				circle farthest-corner at 35% 90%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				circle farthest-corner at 0 140%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 0 -25%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 20% -50%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 0,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 60% -20%,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 100%,
				#d9317a,
				transparent
			),
			linear-gradient(
				#6559ca,
				#bc318f 30%,
				#e33f5f 50%,
				#f77638 70%,
				#fec66d 100%
			);
	}
	.bgImage {
		background: url("../images/image/image_story.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right;
		object-fit: cover;
	}
	.bgImage:hover {
		transition: all 2s;
		background: url("../images/image/image_story.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
	}
	.shadowBefore {
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 5rem;
			bottom: 0;
			background: linear-gradient(transparent, rgba(10, 10, 10, 0.75));
			border-bottom-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}
	}
	.SearchBox {
		&::-webkit-input-placeholder {
			color: white;
		}
		&::-webkit-search-cancel-button {
			appearance: none;
			display: none;
		}
	}
	.logoInstagram {
		animation: hiddenImg 5s forwards;
		animation-delay: 5s;
	}
	.logo h2 {
		animation: showText 5s forwards;
		animation-delay: 5s;
	}

	.linearGradient {
		background-image: linear-gradient(
			to bottom,
			#3e3939ee,
			#353030bd,
			#2b272798,
			#231f1f69,
			#1a17176e
		);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);
		/* border: 1px solid #3e393970; */
	}
	.linearGradient-100 {
		background: rgba(255, 255, 255, 0.21);
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(6px);
		-webkit-backdrop-filter: blur(6px);
		border: 1px solid rgba(255, 255, 255, 0.12);
	}
	.linePost {
		&::before {
			content: "";
			position: absolute;
			width: 23px;
			height: 4px;
			background: rgba(255, 255, 255, 0.21);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(6px);
			-webkit-backdrop-filter: blur(6px);
			border: 1px solid rgba(255, 255, 255, 0.12);
			left: -10px;
			bottom: -10px;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50%;
		}
		&::after {
			content: "";
			position: absolute;
			width: 4px;
			height: 9px;
			background: rgba(255, 255, 255, 0.21);
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(6px);
			-webkit-backdrop-filter: blur(6px);
			border: 1px solid rgba(255, 255, 255, 0.12);
			left: 13px;
			bottom: -10px;
			border-bottom-right-radius: 50px;
		}
	}
	.comments {
		width: 1670%;
		height: 90%;
		position: absolute;
		top: 10%;
		left: -1700%;
		background-color: #fff;
	}
	.addComment {
		background-image: url("../images/icon/add_circled.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
	.alert {
		background-image: radial-gradient(
			circle,
			#5570d1,
			#4973c5,
			#4574b7,
			#4875a8,
			#4f7499,
			#527598,
			#557598,
			#587697,
			#5878a4,
			#5c79b1,
			#6578bc,
			#7377c6
		);
	}
	.textArea {
		background-image: linear-gradient(
			to right bottom,
			#121e2c41,
			#0b1d3263,
			#051b379f,
			#01193ca8,
			#001740ab,
			#001b4ca4,
			#021d57ab,
			#091f63a6,
			#0d2b7caf,
			#0f3596b0,
			#1040b19c,
			#0d4dcda1
		);
	}
	.editScroll{
		&::-webkit-scrollbar{
			appearance: none;
		}
		&::before{
			content: "";
			opacity: 0;
			text-align: center;
			display: flex;
			font-family: "MAVISBold";
			flex-direction: column;
			justify-content: center;
			font-size: 20px;
			text-transform: uppercase;
			color: #d4994bab;
			position: absolute;
			inset: -5% 0% 0% 0%;
			margin: auto;
			/* background: transparent; */
			width: 10rem;
			height: 4rem;
			z-index: 1000000000;
			border-radius: 50%;
			animation: downScroll 15s both 2s;
			background-repeat: no-repeat;
			background-size: 30px;
			background-position:bottom;
		}
		animation: opacityAnimation 2s forwards 2s;
	}
	.alertAnimation {
		animation: alert 2s forwards cubic-bezier(0, -0.67, 0.13, 1.49);
	}
	@keyframes downScroll {
		0%{
			content: "";
			opacity: 0;
		}
		2%{
			opacity: 0.5;
			content: "s";
		}
		10%{
			content: "sc";
		}
		20%{
			content: "scr";
		}
		30%{
			content: "scro";
		}
		40%{
			content: "scrol";
		}
		45%{
			content: "scroll";
		}
		50%{
			content: "scroll ";
		}
		60%{
			content: "scroll d";
		}
		65%{
			content: "scroll do";
		}
		70%{
			content: "scroll dow";
		
			background-image: url("");
		}
		80%{
			content: "scroll down";
			background-image: url("../images/icon/down.svg");
		}
		
		90%{
			opacity: 1;
			content: "scroll down";
			background-image: url("../images/icon/down.svg");
		}
		100%{
			opacity: 0;
			background-image: url("../images/icon/down.svg");
		}
	}
	@keyframes alert {
		0% {
			transform: translateX(-200px) translateY(0px);
		}
		10% {
			transform: translateY(2px) scale(1);
			transition: all 2s;
			background-image: radial-gradient(
				circle,
				#5570d1,
				#4973c5,
				#4574b7,
				#4875a8,
				#4f7499,
				#527598,
				#557598,
				#587697,
				#5878a4,
				#5c79b1,
				#6578bc,
				#7377c6
			);
		}
		40% {
			transform: translateY(-2px) scale(1.05);
			transition: all 2s;
			background-image: radial-gradient(
				circle,
				#601d1d,
				#701e1f,
				#802020,
				#902021,
				#a12122,
				#a02021,
				#9e1f20,
				#9d1e1f,
				#8a1c1d,
				#77191a,
				#651717,
				#531414
			);
		}
		50% {
			transform: translateY(1px) scale(1);
			transition: all 2s;
			background-image: radial-gradient(
				circle,
				#5570d1,
				#4973c5,
				#4574b7,
				#4875a8,
				#4f7499,
				#527598,
				#557598,
				#587697,
				#5878a4,
				#5c79b1,
				#6578bc,
				#7377c6
			);
		}
		100% {
			transform: translateX(0px) translateY(0px);
		}
	}
	@keyframes showComments {
		0% {
			width: 24px;
			height: 24px;
			position: absolute;
		}
		40% {
			width: 24px;
			height: 24px;
			position: absolute;
			top: 10%;
			left: 10%;
		}
		60% {
			width: 24px;
			height: 5px;
			position: absolute;
			top: 10%;
			left: -1700%;
		}
		70% {
			width: 1670%;
			height: 5px;
			position: absolute;
			background-color: transparent;
			top: 10%;
			left: -1700%;
		}
		90% {
			width: 1670%;
			height: 90%;
			position: absolute;
			background-color: #ffffff69;
			top: 10%;
			left: -1700%;
		}
		100% {
			width: 1670%;
			height: 90%;
			position: absolute;
			top: 10%;
			left: -1700%;
		}
	}
	@keyframes showText {
		0% {
			opacity: 0;
			transform: scale(0.1);
		}
		100% {
			opacity: 0.7;
			transform: scale(1);
		}
	}
	@keyframes opacityAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes MoveToBottom {
		0% {
			transform: translateY(-50px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	@keyframes MoveToTop {
		0% {
			transform: translateY(50px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	@keyframes hiddenImg {
		0% {
			transform: scale(1) rotateX(0deg);
			opacity: 1;
		}
		100% {
			transform: scale(0.1) rotateX(360deg);
			opacity: 0;
		}
	}
	@keyframes MoveToRight {
		0% {
			transform: translateX(50px);
			opacity: 0;
		}
		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}
}
