@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "mavis";
		src: url("../fonts/MAVIS.otf");
	}
	@font-face {
		font-family: "MAVISBold";
		src: url("../fonts/MAVISBold.ttf");
	}
	@font-face {
		font-family: "MAVISLight";
		src: url("../fonts/MAVISLight.ttf");
	}
	@font-face {
		font-family: "AktivBold";
		src: url("../fonts/AktivGroteskCorp-Bold.ttf");
	}
	@font-face {
		font-family: "AktivLight";
		src: url("../fonts/AktivGroteskCorp-Light.ttf");
	}
	@font-face {
		font-family: "AktivRegular";
		src: url("../fonts/AktivGroteskCorp-Regular.ttf");
	}
}
@layer utilities {
	.storyLine {
		width: 3.5rem;
		height: 3.5rem;
		padding: 2px;
		background: radial-gradient(
				circle farthest-corner at 35% 90%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				circle farthest-corner at 0 140%,
				#fec564,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 0 -25%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 20% -50%,
				#5258cf,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 0,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 60% -20%,
				#893dc2,
				transparent 50%
			),
			radial-gradient(
				ellipse farthest-corner at 100% 100%,
				#d9317a,
				transparent
			),
			linear-gradient(
				#6559ca,
				#bc318f 30%,
				#e33f5f 50%,
				#f77638 70%,
				#fec66d 100%
			);
	}
	.bgImage {
		background: url("../images/image/image_story.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right ;
	}
	.bgImage:hover {
		transition: all 2s;
		background: url("../images/image/image_story.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left ;
	}
	.shadowBefore {
		&::before {
			content: "";
			display: block;
			position: absolute;
			width: 100%;
			height: 5rem;
			bottom: 0;
			background: linear-gradient(transparent, rgba(10, 10, 10, 0.75));
			border-bottom-right-radius: 1rem;
			border-bottom-left-radius: 1rem;
		}
	}
	.SearchBox {
		&::-webkit-input-placeholder {
			color: white;
		}
		&::-webkit-search-cancel-button {
			appearance: none;
			display: none;
		}
	}
	.logoInstagram {
		animation: hiddenImg 5s forwards;
		animation-delay: 5s;
	}
	.logo h2 {
		animation: showText 5s forwards;
		animation-delay: 5s;
	}
	@keyframes showText {
		0% {
			opacity: 0;
			transform: scale(0.1);
		}
		100% {
			opacity: 0.7;
			transform: scale(1);
		}
	}
	@keyframes opacityAnimation {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
	@keyframes MoveToBottom {
		0% {
			transform: translateY(-50px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	@keyframes MoveToTop {
		0% {
			transform: translateY(50px);
			opacity: 0;
		}
		100% {
			transform: translateY(0px);
			opacity: 1;
		}
	}
	@keyframes hiddenImg {
		0% {
			transform: scale(1) rotateX(0deg);
			opacity: 1;
		}
		100% {
			transform: scale(0.1) rotateX(360deg);
			opacity: 0;
		}
	}
}
